#post_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image
        = image_tag(@post.image, :size => "720x500")
      .panel-body
        %h1= @post.title
        %p.description= @post.description
      .panel-footer
        .row
          .col-md-6
            %p.user
              Submitted by
              = @post.user.email
          .col-md-6
            .btn-group.pull-right
              - if user_signed_in?
                = link_to "Edit", edit_post_path, class: "btn btn-default"
                = link_to "Delete", post_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"